<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue Tag</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
</head>
<body>

    <div id="app">
        <h1>Vue Js Tag It</h1>

        <input type="text" name="tags" v-model="tag_temps"> <!-- Ini hanya di backend saja -->
        <br><br> 

        <div id="tag_form">
            <span id="tag_temp_wrapper">
                <span class="tag_temp" v-for="tag_temp in tag_temps">
                    {{ tag_temp }}
                    <span class="close_tag_temp" @click="removeTag(tag_temp)">X</span>
                </span>
            </span>

            <input id="tag_input" type="text" 
                @keyup="showLists" 
                @keyup.down="filterDown"
                @keyup.up="filterUp"
                @keyup.delete="removeTag"
                v-model="keyword"
                @keyup.enter="addTag">
        </div>


        <ul id="tag_lists" v-bind:class="{hidden: isHidden}">
            <li class="tags" v-for="tag in filteredTags" 
                @mouseover="mouseOver" @mouseLeave="mouseLeave"
                @click="addTag('viaclick', $event)"
            >{{ tag }}</li>
        </ul>
    </div>




    <!-- TODO:
    1. Menampilkan data-data ketika user mulai mengetik [done]
    2. User milih dari arrowkeup-keydown, highlight  [done]
    3. Saran berdasarkan user ketik [done]
    4. on enter, masukan ke daftar tag di frontend, backend [done]
    5. backspace/delete hapus element sebelumnya [done]
    6. tambahkan tombol (x) masing2, hapus salah satunya [done]
    7. highlight milih, berdasarkan mouse [done]
    8. tag yang sudah dipake sebelumnya ngga boleh muncul [done]   
    -->

    
    <script>
        new Vue({
            el: "#app", 
            data: {
                tags: ['html', 'css', 'js', 'php', 'database', 'C', 'swift'], 
                isHidden: true, 
                arrow_pos: 0,
                keyword: '' ,
                tag_temps: [], 
                isEmpty: true
            }, 
            computed: {
                filteredTags() {
                    _self = this // mengakses data secara global untuk digunakan oleh function lokal dibawah ini, karena function dibawah tidak bisa mengaksesnya, solusinya dengan meletakkan this didalam lokal varibel
                    return this.tags.filter(function(tag) {
                        // ngecek apakah tagnya sudah digunakan atau belum, dengan memanfaatkan tag_temps
                        // console.log(_self.tag_temps) // html,php,css
                        _notused = _self.tag_temps.indexOf(tag) < 0 // jika belum ada tag yang digunakan
                        return tag.indexOf(_self.keyword) >= 0 && _notused // indexOf akan me-return angka
                    })
                }
            }, 
            methods: {
                showLists: function() {
                    this.isHidden = false
                }, 
                filterDown: function() {
                    this.setHighlight(1)
                }, 
                filterUp: function() {
                    this.setHighlight(-1)
                },
                mouseOver: function(event) {
                    event.target.className += ' active'
                },
                mouseLeave: function(event) {
                    event.target.classList.remove('active')
                },
                setHighlight: function(val) {
                    _isFirst = true
                    _tags = document.getElementsByClassName('tags')

                    /**
                        Looping sebanyak list yang mengandung class active,
                        jika mengandung class active maka akan diremove
                    */
                    for (let i = 0; i < _tags.length; i++) {
                       if (_tags[i].classList.contains('active')) {
                           _tags[i].classList.remove('active')
                           _isFirst = false
                       }                        
                    }
                    
                    this.arrow_pos += val

                    /**
                        Memberi limit agar tidak kurang dan kelebihan elementnya
                    */
                    if (this.arrow_pos < 0) this.arrow_pos = 0
                    if (this.arrow_pos >= _tags.length) this.arrow_pos = _tags.length - 1
                    
                    
                    /** 
                        Jika belum pernah ada higlight sama sekali
                    */ 
                    if (_isFirst) {
                        _tags[0].className += ' active'
                        this.arrow_pos = 0
                    } else {
                        /**
                            Memberi class active sesuai dengan arrow_pos sekarang
                        */
                        _tags[this.arrow_pos].className += " active"
                    }     
                }, 
                addTag: function(via, event) { 
                    if (via == 'viaclick') // tambah tag melalui klik mouse
                        _tag = event.target.textContent
                    else  // tambah tag melalui enter keyboard
                        _tag = document.getElementsByClassName('tags')[this.arrow_pos].textContent
                    
                    this.tag_temps.push(_tag)
                    this.keyword = ''
                    this.isHidden = true
                }, 
                removeTag: function(el) {
                    if (typeof(el) == 'string') { /** hapus pakai klik */
                        _index = this.tag_temps.indexOf(el)
                        this.tag_temps.splice(_index, 1)
                    } else { /** hapus pakai backspace pada keyboard */
                        // [SOLVED] bug: ketika ketik satu huruf akan terhapus
                        if (this.keyword != '')
                            this.isEmpty = false

                        if (this.isEmpty) 
                            this.tag_temps.splice(-1, 1) // menghapus item terakhir pada array sebanyak satu item                        

                        if (this.keyword == '')
                            this.isEmpty = true
                    }
                    
                    this.isHidden = true
                }
            }
        })
    </script>

    <style>
        body {
            font-family: sans-serif;
            margin: 10% auto;
            width: 80%;
        }

        input:focus {
            outline: none;
        }

        #tag_temp_wrapper, .tag_temp, #tag_form {
            display: flex;
        }

        #tag_form {
            border: 1px solid black;
            height: 30px;
        }
        
        #tag_input {
            height: 30px;
            width: 100%;
            overflow: hidden;
        }

        #tag_lists {
            list-style-type: none;
            padding-left: 5px;
            border: 1px solid black;
        }

        .hidden {
            display: none;
        }

        .active {
            background: rgb(232, 57, 200);
            color: white;
        }

        .tag_temp {
            background: rgb(232, 57, 200);
            color: white;
            padding: 2px 4px;
            margin: 2px;
        }

        .close_tag_temp {
            background: rgb(237, 237, 237);
            color: red;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 5px;
            margin-left: 5px;
            line-height: 12px;
        }
    
    </style>
</body>
</html>